<html>
  <head>
    <title>Job Application Software</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
     <div class="container">
    <h1>Job Application User Registration</h1>
    <div class="form-wrapper">
      <form class="signup-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  <p>Already have an account? <a href="login.html">Login here</a></p>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>